/* tablet */
@media screen and (max-width: 1023px) {

    .nav-bar {
        background-image: url(./img/banner.jpg);
        background-size: cover;
        height: 200px;
    }

    .nav-sub .sub-name {
        display: none;
    }

    .grid-1 {
        padding: 40px 0px;
    }

    .grid-row-1 {
        width: 33%
    }

    .grid-2 {
        padding: 40px 0;
    }

    .grid-row-2 {
        width: 33%;
        padding: 5px;
    }

    .grid-common {
        margin: 0;
    }

    .grid-768 {
        width: 23%;
    }

    .bonus, .production {
        padding: 40px 10px;
    }

    .bonus-common {
        display: block;
        padding: 0 20px;
    }

    .bonus-common img {
        width: 100%;
        height: 80%;
    }

    .bonus h2 {
        padding-left: 20px;
    }
    
   
}